html, body{
	overflow: hidden;
}

#main-form{
	width: 70%;
	margin-left: 360px;
}

.follower{
	display: flex;
	flex-direction: row;
}

.follower > p {
	padding: 0% 5%;
}

.follower > button{
	width: 3em;
}

.list{
	width: 350px;
	height: 485px;
	margin: auto;

	color: #dcdfe0;
	background-color:#434c51;

	border-style: none;
	border: solid #29302e 1px;
}

.list:hover{
	border-style: none;
	border: solid #29302e 1px;
}

.right-container{
	position: relative;
	bottom: 320px;
	left: 300px;
}

.left-container{
	position: relative;
	top: 288px;
	right: 300px;
}