img:hover:not(#inerror){

	border-color: black;

}

img{

	border-radius:50%;
	margin:auto;
	height: 150px;
  width: 150px;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  border: solid #3e4442 2px;

}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:focus + label {
  outline: thin dotted;
}

.paragraph-container
{

	height: 200px;
	text-align:top;
	word-wrap: break-word;

}

#hidden{
  display: none;
}

.btn-twitch{
  background-color: #6441a5;
  border:;
}

.btn-twitch:hover{
  background-color: #442d6b;
}

#twitch-link{
  position: relative;
  color: #dcdfe0;
  bottom: 2px;
}

#twitch-link{
  text-decoration: none;
}

#twitch-icon{
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  display: inline;
  width: 20px;
  height: 20px;
  right: 40px;
  top: 3px;
}