main{

	text-align:center;
	width: 100%;
	position: absolute;
  	top: 50%;
  	
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);

}

img{

	border-radius:50%;
	margin:auto;
	height: 150px;
    width: 150px;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;

}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:focus + label {
  outline: thin dotted;
}

form{

	color:#dcdfe0;

	background-color:#545f66;
	width: 400px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;

	border-radius:10px;

	box-shadow: 0px 0px 9px 2px #141817;

}

input, textarea{

	display:block;
	margin: auto;
	width: 280px;
	height: 40px;

	color: #dcdfe0;

	padding-left:10px;
	padding-right: 10px;

	font-size:16px;

	background-color:#434c51;

	margin-top: 10px;
	margin-bottom: 10px;

	border-style: none;

	border: solid #29302e 1px;

}

#input-container{

	width: 301px;
	text-align:left;
	margin: auto;

}

.paragraph-container
{

	height: 200px;
	text-align:top;
	word-wrap: break-word;

}

input:focus:not(#inerror), .paragraph-container:focus:not(#inerror){

	transition: 0.05s;

	outline-style: solid;
	outline-offset: -1px;
	outline-width: 2px;
	outline-color: #a6c3bb;

}

input:hover:not(#inerror){

	border-color: black;

}

button{

	margin-bottom:15px;
	width: 300px;
	height: 40px;
	background-color:#a6c3bb;
	color: white;
	font-weight:bold;

	border-style: none;

	font-size: 17px;

	cursor: pointer;

}

button:hover{

	background-color:#91aaa3;

}