html, body{
    height: 100%;
    margin: 0;
}

#root{
    display: flex;
    flex-flow: column;
    height: 100%;
}

#container{
    display: flex;    
    flex-direction: row;
    height: 100%;
}

/* groups */

.group-active{
    background-color: rgba(10, 10, 10, 60); 
}

#groups{
    width: 10em;
    background-color: black;
}

#groups > h3{
    text-align: center;
    color: white;
    margin: 5px;
    font-size: 24px;
    margin-bottom: 20px;
}

#groups > ul{
    list-style-type : none;
    text-align: center;
    padding: 0px;
}

#groups > ul > li{
    color: white;
    width: 100%;
    padding: 10% 0%;
}

#groups > ul > li:hover{
    background-color: grey;
}

/* Stream Section */

#stream{
    background: grey;
}

.stream-fill{
    width: 75%;
}

/* Messages/Input*/

#chat-container{
    display: flex;
    flex: 1;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}


#chat-container > #window{
    background: rgb(53, 75, 64);
    flex: 1;
}

#chat-container > #input{
    background: #393e42;
    min-height: 2%;
    max-height: 10%;
    display: flex;
    align-items: center;
}


#input > textarea{
    width: 100%;
    margin: 10px;
    min-height: 30px;
    max-height: 80px;
    height: 30px;
    padding-left: 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;
}

#input > button{
    margin: 10px 10px 10px 0px;
    width: 4em;
    height: 2em;
}

/* Chat */

#window > ul {
    margin: 2%;
    background: white;
    border-radius: 10px;
}

#window > ul > li {
    list-style-type: none;
}

.msg {
    position: relative;
    display: flex;
}

.avatar{

}

.avatar > .user {
    padding-top: 0;
    margin-top: 0;
}

.msg-img {
    margin: 10px;
    height: 40px;
    width: 40px;
}

.msg > .msg-content {
    margin: 10px;
    width: 80%;
    display: inline-block;
}

.msg > .timestamp{
    padding: 10px;
    margin: 10px;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

